.list-headers{
    display:flex;
    border: 1px solid #E6E6E6;
    font-weight: bold;
}

.list-headers>div {
    padding: 0.5rem;
    border-right: 1px solid #E6E6E6;
    
}

.list-lp {
    width:3%;
}

.list-bank {
    width:7%;
}

.list-date {
    width:10%;
}

.list-amount {
    width:7%;
}

.list-description {
    width:30%;
}

.list-category {
    width:13%;
}

.list-actions {
    width:30%;
}

.table-row {
    font-weight: normal;
    border: none;
    border-bottom: 1px solid #E6E6E6;
}
.table-rows:nth-child(odd){
    background-color: #f9f9f9;
}


