.calendar-table{
    position: absolute;
    text-align:center;
    color: rgb(15, 55, 73);
    font-size: 14px;
    border: 2px solid rgb(15, 55, 73);
    border-collapse: collapse;
    margin-top: 5px;
    background-color: white;
  }

  .calendar-header{
    background-color: rgb(90, 189, 235);
    padding: 10px;
    font-weight: bold;
    height: 25px;
  }

  .calendar-cell{
    border: 0.5px solid rgb(15, 55, 73);
    padding: 5px;
  }
  .calendar-cell:hover {background-color: rgb(174, 206, 221);}

  .calendar-dayweek{
    padding: 5px;
    height: 25px;
    font-weight: bold;
    font-size: 12px;
  }

  .calendar-input input{
    width:100%;
  }